@font-face 
{
	font-family: "Eina-Regular",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina01-Regular.woff")
		format("woff");
}
@font-face 
{
	font-family: "Eina-Light",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Light.woff")
		format("woff");
}
@font-face 
{
	font-family: "Eina-SemiBold",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-SemiBold.woff")
		format("woff");
}
@font-face 
{
	font-family: "Eina04-Bold",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	src: url("/s/sfsites/c/resource/WebEinaFonts/WebFonts/Eina04-Bold.woff")
		format("woff");
}
.nobutton{
	background: none;
	border: none;
}

.reminder-container 
{
	text-align: left;
	height: 165px;
	background-color: #fef4d7;
	padding: 20px;
	display: flex;
	gap: 10px;
	border-left: 4px solid #edbe2b;
	position: relative;
    right: 45px;
}
.link 
{
	text-decoration: underline;
	color: #403a60;
	position: relative;
	right: 6px;
}
.reminder-text 
{
	color: #2c333a;
	width: 206px;
	height: 48px;
	font-family: "Eina-Bold",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 550;
	margin-bottom: 30px;
}
.box-icon 
{
	width: 24px;
	height: 24px;
	margin-top: 3px;
}
.notification-settings 
{
	display: flex;
	justify-content: left;
	width: 214px;
	height: 60px;
	font-family: "Eina-Regular",  Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #403a60;
}
.para 
{
	margin-top: -10%;
}
@media only screen and (max-width: 600px) 
{
	.reminder-container 
	{
		text-align: left;
		position: relative;
		bottom: 90px;
		height: 144px;
		background-color: #fef4d7;
		padding: 20px;
		display: flex;
		gap: 10px;
		border-left: 4px solid #edbe2b;
	margin-left: 120px;
        width: 90%;
	}
}
@media only screen and (max-width:400px){
	.reminder-container{
		text-align: left;
        position: relative;
        bottom: 90px;
        height:150px;
        background-color: #fef4d7;
        padding: 20px;
        display: flex;
        gap: 10px;
        border-left: 4px solid #edbe2b;
        margin-left: 120px;
        width: 85%;
        right: 265px;
		margin-top: 25px;
        margin-bottom: 5px;

	}
		.wholediv{
		position: relative;
		bottom: 5px;
	}
	.box-icon{
		position: relative;
		bottom: 5px;
	}
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
	.reminder-container{
	text-align: left;
        position: relative;
        bottom: 80px;
        height: 150px;
        background-color: #fef4d7;
        padding: 20px;
        display: flex;
        gap: 10px;
        border-left: 4px solid #edbe2b;
        margin-left: 120px;
        width: 90%;
        right: 270px;
		margin-top: 15px;
        margin-bottom: 15px;

	}
		.wholediv{
		position: relative;
		bottom: 5px;
	}
		.box-icon{
		position: relative;
		bottom: 5px;
	}
}
@media only screen and (min-width: 601px) and (max-width: 768px) 
{
	.reminder-container 
	{
		text-align: left;
        position: relative;
        bottom: 90px;
        width: 60%;
        height: 150px;
        background-color: #fef4d7;
        padding: 20px;
        display: flex;
        gap: 10px;
        border-left: 4px solid #edbe2b;
        /* margin-left: 16%; */
        right: 125px;
	}
		.wholediv{
		position: relative;
		bottom: 5px;
	}
		.box-icon{
		position: relative;
		bottom: 5px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1100px) 
{
	.reminder-container 
	{
		text-align: left;
        position: relative;
        right: 125px;
        width: 85%;
        height: 150px;
        background-color: #fef4d7;
        padding: 20px;
        display: flex;
        gap: 10px;
        border-left: 4px solid #edbe2b;
        bottom: 90px;
	}
	.wholediv{
		position: relative;
		bottom: 5px;
	}
		.box-icon{
		position: relative;
		bottom: 5px;
	}

}
@media only screen and (min-width: 1100px) and (max-width: 1200px) 
{
	.reminder-container 
	{
		text-align: left;
        position: relative;
        bottom: 35px;
        width: 45%;
        height: 150px;
        background-color: #fef4d7;
        padding: 20px;
        display: flex;
        gap: 10px;
        border-left: 4px solid #edbe2b;
        left: 305px;
	}
		.wholediv{
		position: relative;
		bottom: 5px;
	}
		.box-icon{
		position: relative;
		bottom: 5px;
	}

}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.reminder-container 
	{
		text-align: left;
        position: relative;
        bottom: 90px;
        width: 85%;
        height: 160px;
        background-color: #fef4d7;
        padding: 20px;
        display: flex;
        gap: 10px;
        border-left: 4px solid #edbe2b;
        right: 123px;
		margin-top: 10px;
        margin-bottom: 10px;
	}
		.wholediv{
		position: relative;
		bottom: 5px;
	}
		.box-icon{
		position: relative;
		bottom: 5px;
	}
}
@media only screen and (min-width: 1500px) 
{
	.reminder-container 
	{
		right: 10px;
	}
}
@media only screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  @supports (-webkit-touch-callout: none) {
	.link{
		position: relative;
		right: 14px;
	}
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  @supports (-webkit-touch-callout: none) {
	.link{
		position: relative;
		right: 12px;
	}
  }
}