.grid-container{
display: grid;
grid-template-columns: auto;
gap: 15px 0px;
width: -webkit-fill-available;
}
.bannerclass{
	background-color: #EBEBEB;
	padding: 60px 0px;
}
.avatar{
position: relative;
top: 25%;
}

.button-Div{
	background-color: #696969;
	border-radius: 15px;
	color: white;
	font-weight: 800;
	border-style: none;
	padding: 5px 15px;
}
.widgetremin{
		margin-left: 155px;
	margin-top: 26px;
}
.grid-containerButtons{
display: grid;
grid-template-columns: auto auto;
gap: 0px 15px;
width: max-content;
}
.widgetcss{
margin-left:160px;
margin-top:90px;
width:493px;
}
.padding{
	overflow: hidden;
	padding-right:3%;
	padding-left: 4%;
	background-color:#FFFFFF;
}
.spanHeading{
	font-size: 15px;
	font-weight: 800;
}
.TiltleHeading{
	font-size: 35px;
	font-weight: 800;
	margin-top: -15px;
}
.paraHead{
	font-size: 10px;
}
.grid-containerNavRem{
	display: grid;
	grid-template-columns: auto;
	gap: 10px;
}

.grid-containerNotification{
display: grid;
	grid-template-columns: auto;
	gap: 10px;
}

/*--CSS Media Queries---*/
@media only screen and (max-width: 400px){
	.widgetremin{
		margin-left: 0px;
}
.updaterx{
	margin-top: 10px;
	position: relative;
	top: 10px;
}
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 128px;
	width: 108%;
position: relative;
bottom: 245px;
}
.padding{
background-color: #fbfaf5;
}
.avatar{
position: relative;
top: -7%;
}
.board{
position: relative;
bottom: 15px;
}
.widget{
height: 420px;
}
.widgetch{
position: relative;
bottom: 50px;
}
.widgetcss{
width: 350px;
margin-left: 175px;
margin-top: 205px;
}
.custom-box{
margin-top: -42px;
}
}
@media only screen and (min-width:600px) and (max-width:992px){
.widgetcss{
	position: relative;
	top: 510px;
	left: 10px;
}
.slds-grid{
	position: relative;
	bottom: 0px;
}

	.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 20px;
}
}



@media only screen and (min-width:401px)  and (max-width: 600px){
.grid-containerButtons{
display: grid;
grid-template-columns: auto;
gap: 10px 15px;
width: max-content;
}
.updaterx{
	margin-top: 10px;
	position: relative;
	top: 10px;
}
.padding{
background-color: #fbfaf5;
}
.avatar{
position: relative;
top: -7%;
right: 1%;
}
.board{
position: relative;
bottom: 30px;
}
.custom-box{
margin-top: -50px;
}
.notifications-card{
width: 68%;
}
.widgetch{
position: relative;
bottom: 42px;
}
.widgetcss{
position: relative;
bottom: 150px;
left: 15px;
width: 390px;
}
.widget{
height: 435px;
}
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 71px;
	width: 100%;
	position: relative;
	right: 6px;
	bottom: 190px;
}
}
@media only screen and (min-width: 601px){
.grid-containerButtons{
display: grid;
grid-template-columns: auto;
gap: 10px 15px;
width: max-content;
}
.slds-grid {
	display: flex;
	flex-direction: column;
}
.widgetremin{
		margin-left: 0px;
}
.grid-containerNotification{
	margin-left: -20px;
}

}
@media only screen and (min-width:601px) and (max-width:768px){
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 50px;
	width: 100%;
}
.avatar{
	top: 0px;
    margin-bottom: -80px;
}
}
@media only screen and (min-width:768px)and (max-width:992px){
.widgetcss{
	width: 700px;
}
	.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 10px;
	width: 120%;
}
.avatar{
	position: relative;
	top: 0px;
	margin-bottom: -80px;
}
.board{
position: relative;
}
}
@media only screen and (min-width: 768px){
.grid-containerButtons{
display: grid;
grid-template-columns: auto;
gap: 10px 15px;
width: max-content;
}
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 55px;
}
}
@media only screen and (min-width:992px)and (max-width:1200px){
.widgetcss{
	width: 471px;
	position: relative;
	right: 115px;
}
	.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 45px;
}
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 51px;
	margin-left:-56px;
}
.board{
	height: 640px;
}

.padding{
	padding-right: 3%;
	padding-left: 3%;

}
.avatar{
	position: relative;
	top: 30px;
	margin-bottom: -50px;
}
}

@media only screen and (min-width: 992px){
.grid-containerButtons{
display: grid;
grid-template-columns: auto;
gap: 10px 15px;
width: max-content;
}
.slds-grid {
	display: flex;
	flex-direction: row;
}
.widgetremin{
margin-left: 10px;
margin-top: 60px;
}
.grid-containerNotification{
	    margin-left: 0px;
        margin-bottom: -100px;
}
.padding{
	padding-right: 4%;
	padding-left: 4%;

}
}
@media only screen and (min-width: 1200px){
.grid-containerButtons{
display: grid;
grid-template-columns: auto auto;
gap: 0px 15px;
width: max-content;
}
.board{
	position: relative;
	bottom: 80px;
	right: 10px;
}
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 51px;
	position: relative;
	left: 25px;
	top: 10px;
}
.widgetch{
	margin-top: 25px;
}
.padding{
		padding-right: 6%;
padding-left: 5%;
}
.avatar{
	position: relative;
	right: 20px;
	top: 20px;

}
}
@media only screen and (min-width:1300px) and (max-width:1400px){
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 51px;
}
}
@media only screen and (min-width:1400px) and (max-width:1500px){
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 51px;
	position: relative;
	left: 16px;
	top: 5px;
}
}
@media only screen and (min-width:1600px) and (max-width:1700px){
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 51px;
	position: relative;
left: 0px;
}
}
@media only screen and (min-width: 1500px) and (max-width:1700px){
.grid-containerButtons{
display: grid;
grid-template-columns: auto auto;
gap: 0px 15px;
width: max-content;
}

.padding{
	padding-left: 4%;
	padding-right: 5%;

}
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 51px;
	margin-top: 10px;
}
.board{
position: relative;
bottom: 0px;
margin-bottom: 100px;
}
.avatar{
	position: relative;
	top: 20px;
	left: 0%;
}
}
@media only screen and (min-width:1701px) and (max-width:1900px){
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 51px;
	position: relative;
left: 30px;
top: 10px;
}
.avatar{
position: relative;
top: -40px;
margin-bottom: 10px;
left: 1%;
}
}
@media only screen and (min-width:1901px){
.grid-containerWidget{
	display: grid;
	grid-template-columns: auto;
	gap: 51px;
	position: relative;
left: 25px;
}
.avatar{
position: relative;
top: -20px;
left: 1%;
}
.padding{
padding-left: 5%;
padding-right: 6%;
}
}

@media only screen and (min-width:1501px) and (max-width:1700px){
.padding{
padding-left: 5%;
padding-right: 5%;
}
.avatar{
	position: relative;
	top: -30px;
	left: 0%;
	margin-bottom: -70px;
}
}
	@media only screen and (min-width:1701px) and (max-width:1900px){
.padding{
padding-left: 5%;
padding-right: 6%;
}
}